<div class="categories-section container-fluid">
    <h1 class="title"> CATEGORIES </h1>
        <div class="row">
            <div class="col-md-9 MenuCategories-Display">
                <% MenuCategory.all.each do |category| %>
                <ul>
                    <li class="CategoryItem">
                        <%= link_to category.category_name, menu_category_path(category.id) %>
                    </li>
                </ul>
                <% end %>
            </div>
            <%= render partial: "add-category" %>
        </div>
</div>