<h1> CartItems </h1>
    <div class="row">
        <div class="col-md-7 MenuCategories-Display">
            <%= render partial: "cart-section" , locals: {cart_id: @cart.id } %>
            <%= form_with(url:"/orders",method:"post") do %>
                <input class="AddMenuCategory-button" type="submit" value="Order">
            <% end %>
        </div>
    </div>   
</div>